onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
//artifactory.eg.dk/artifactory/fontawesome-pro-remote/:_authToken=${FA_TOKEN}
@fortawesome:registry=https://artifactory.eg.dk/artifactory/fontawesome-pro-remote/
//npm.fontawesome.com/:_authToken=${FA_TOKEN}
