onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
//artifactory.eg.dk/artifactory/fontawesome-pro-remote/:_authToken=4087B137-D8F2-4B60-9DCA-59B5F61D08B0
@fortawesome:registry=https://artifactory.eg.dk/artifactory/fontawesome-pro-remote/
//npm.fontawesome.com/:_authToken=4087B137-D8F2-4B60-9DCA-59B5F61D08B0
